.product {
    background-color: #FFF;
    padding: 10px;
    cursor: pointer;
}

.price {
    color: red;
}

.buy {
    color: red;
    font-weight: bold;
}

.buy:hover {
    color: red !important;
}